extends base

include reviewCard

block append head 

    script(src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet')
    script(defer src='/js/mapbox.js')
    


mixin overviewBox(label, text, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text

block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/dogs/${dog.imageCover}`, alt=`${dog.name}`)

        .heading-box
            h1.heading-primary
                span= `${dog.name} dog`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.heading-box__text= `${dog.breeds}`


    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts

                    +overviewBox('Breeds', dog.breeds, 'trending-up')
                    +overviewBox('Dog Size', dog.difficulty, 'trending-up')
                    +overviewBox('Age', `${dog.age}`, 'clock')
                    +overviewBox('Like', `${dog.maxGroupSize} people`, 'user')

                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Charity Worker

                    each guide in dog.guides
                        .overview-box__detail
                            img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                            - if (guide.role === 'lead-guide')
                                span.overview-box__label Lead guide
                            - if (guide.role === 'guide')
                                span.overview-box__label guide
                            span.overview-box__text= guide.name

        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${dog.name}`
            - const parapraphs = dog.descriptionDog.split('\n');
            each p in parapraphs
                p.description__text= p

    section.section-pictures
        each img, i in dog.images
            .picture-box
                img.picture-box__img(src=`/img/dogs/${img}`, alt=`${dog.name} Dog ${i+1}`, class=`.picture-box__img--${i+1}`)

    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Natours logo')
            img.cta__img.cta__img--1(src=`/img/dogs/${dog.images[1]}`, alt='')
            img.cta__img.cta__img--2(src=`/img/dogs/${dog.images[2]}`, alt='')
            .cta__content
                if user
                    button.btn.btn--green.span-all-rows#delete-dog(data-dog-id=`${dog.id}`) Delete
                else
                    a.btn.btn--green.span-all-rows(herf='/login') User Login
