extends base

block content
  main.main
    .card-container
    
      each dog in dogs
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/dogs/${dog.imageCover}`, alt=`${dog.name}`)
            h3.heading-tertirary
              span= dog.name

          .card__details
            h4.card__sub-heading= `${dog.difficulty} dog`
            p.card__text= dog.summary

            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span= `${dog.maxGroupSize} Liked`

          .card__footer
            p
              span.card__footer-value= `${dog.age}`
              | 
              span.card__footer-text year-old
            p.card__ratings
              span.card__footer-value= dog.ratingsAverage
              | 
              span.card__footer-text= `difficulty (${dog.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/dog/${dog.slug}`) Details